#navBar {
  width: 100%;
  height: 40px;
  border-bottom: solid #2980b9 1px;
  color: #2980b9;
  position: fixed;
  display: inline;
}

#logo {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  padding-left: 10rem;
  padding-right: .5rem;
  display: inline;
}

#signature {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  padding-left: 10rem;
}

#navBarBottom {
  position: absolute;
  width: 100%;
  height: 40px;
  border-top: solid #2980b9 1px;
  color: #2980b9;
  bottom: 0;
}

#navList {
  list-style: none;
  display: inline;
  top: 0;
  left: 0;
  padding-left: 0;
  position: fixed;
}

#slogan {
  display: inline;
  color: black;
  font-family: 'Anton', sans-serif;
}
